* {
	font-family: Verdana;
}

h1, h2, h3 {
	text-align: center;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.nb {
	border: 1px solid #000000;
}

ol li {
	margin-bottom: 40px;
	/*border: 1px solid #D1D1E0;*/
}

.code {
	font-family: Monospace;
	padding: 20px 20px 20px 20px;
}

table {
	margin-left: auto;
	margin-right: auto;
}

td {
	padding-left: 20px;
	padding-right: 20px;
	vertical-align: top;
}

#wrapper {
	height: 90%;
}

#footer {
	text-align: center;
	font-size: 11px;
}