h1, h2, h3 {
	text-align: center;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
    max-width: 95%;
}

ol > li {
	margin-bottom: 40px;
    padding: 5px;
	border: 1px solid #D1D1E0;
}

.code {
	font-family: Monospace;
	padding: 20px 20px 20px 20px;
    background: #000000;
    color: #00ff00;
}